/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-slate-950);
}

.simple-form-label {
  @apply mb-1 block text-sm font-semibold text-gray-500;
}

.simple-form-field {
  @apply w-full rounded border-0 bg-white p-2 text-sm text-gray-700 ring-1 ring-purple-600 outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-purple-900 disabled:text-gray-400 md:text-base;
}

.form-submit-button {
  @apply flex h-10 w-24 cursor-pointer items-center justify-center rounded-md bg-teal-500 text-white transition-all duration-200 ease-in-out hover:bg-teal-100 hover:text-teal-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-teal-500 disabled:hover:text-white;
}

label.required {
  @apply after:ml-2 after:text-red-500 after:content-['*'];
}

.invalid-feedback {
  display: none;
  @apply py-2 text-sm font-semibold text-red-500;
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}
