/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-slate-950)
}

.simple-form-label {
  @apply block text-sm text-gray-500 font-semibold mb-1;
}

.simple-form-field {
  @apply w-full border-0 p-2 text-gray-700 placeholder:text-gray-400 rounded ring-2 ring-slate-300
    focus:ring-2 focus:ring-slate-400 text-sm md:text-base disabled:text-gray-400 bg-white;
}

.form-submit-button {
  @apply flex items-center justify-center w-24 h-10 bg-teal-500 text-white rounded-md
  hover:bg-teal-100 hover:text-teal-500 transition-all duration-200 ease-in-out cursor-pointer
  disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-teal-500 disabled:hover:text-white
}

label.required {
  @apply after:content-['*'] after:ml-2 after:text-red-500;
}

.invalid-feedback {
  display: none;
  @apply py-2 text-sm font-semibold text-red-500;
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}
