<div class="w-full p-2 pt-6 md:max-w-md mx-auto">

  <form [formGroup]="newUserForm" class="w-[32rem] px-6 py-2 border border-slate-100 rounded-md shadow-md bg-slate-50 relative">
    @if (isLoading()) {
      <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center bg-slate-50 rounded-md shadow-md z-10 opacity-50">
        <h2 class="text-2xl font-semibold text-slate-800">Saving...</h2>
      </div>
    }

    <div class="mt-4 grid grid-cols-1 gap-6">
      <app-text-input
        [id]="'firstName'"
        [formControl]="newUserForm.controls['firstName']"
        [label]="'First Name'"
        required />

      <app-text-input
        [id]="'lastName'"
        [formControl]="newUserForm.controls['lastName']"
        [label]="'Last Name'"
        required />

      <app-text-input
        [id]="'username'"
        [formControl]="newUserForm.controls['username']"
        [label]="'Username'"
        required />

      <app-text-input
        [id]="'dob'"
        [formControl]="newUserForm.controls['dob']"
        [label]="'Date of Birth'"
        [type]="'date'" />

      <div>
        <label class="simple-form-label required">Gender</label>
        <select class="simple-form-field" formControlName="gender">
          <option [value]="'male'">Male</option>
          <option [value]="'female'">Female</option>
        </select>
        <app-form-field-error [fGroup]="newUserForm" cName="gender" />
      </div>

      <app-text-input
        [id]="'email'"
        [formControl]="newUserForm.controls['email']"
        [label]="'Email'"
        [type]="'email'"
        required />

      <app-text-input
        [id]="'phone'"
        [formControl]="newUserForm.controls['phone']"
        [label]="'Phone'" />

      <app-text-input
        [id]="'bio'"
        [formControl]="newUserForm.controls['bio']"
        [label]="'Bio'" />
    </div>
    <div class="mt-4 flex justify-end">
      <button
        class="form-submit-button"
        type="submit"
        (click)="submitForm()"
        [disabled]="isLoading() || newUserForm.invalid"
      >
        @if (isLoading()) {
          Loading
        } @else {
          Save
        }
      </button>
    </div>
  </form>
</div>
