@defer (when user) {
  <section
    class="mx-auto mt-8 min-h-[600px] max-w-xl rounded-lg border border-slate-100 bg-purple-100 p-6 shadow-md"
  >
    <div class="mb-6 flex flex-col items-center justify-center gap-4">
      <app-avatar [src]="user?.photoUrl ?? ''" alt="User photo" />
      <div>
        <h2 class="mb-1 text-2xl font-bold text-slate-800">
          {{ user?.username }}
        </h2>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-4 rounded border border-purple-800 bg-white p-4 md:grid-cols-2"
    >
      <div>
        <label [htmlFor]="'dob'" class="mb-1 block text-xs text-slate-950">
          Date of Birth
        </label>
        <div id="dob" class="font-medium font-semibold text-slate-700">
          {{ user?.dob || '-' }}
        </div>
      </div>
      <div>
        <label [htmlFor]="'gender'" class="mb-1 block text-xs text-slate-950">
          Gender
        </label>
        <div id="gender" class="font-medium text-slate-700 capitalize">
          {{ user?.gender || '-' }}
        </div>
      </div>
    </div>
    <div class="mt-6">
      <label [htmlFor]="'bio'" class="mb-1 block text-xs text-slate-950">
        Bio
      </label>
      <div
        id="bio"
        class="h-[150px] rounded border border-purple-800 bg-white p-4 whitespace-pre-line text-slate-700"
      >
        {{ user?.bio || 'No bio provided.' }}
      </div>
    </div>
    <div class="mt-6 flex items-center justify-between">
      <app-button variant="secondary" (clicked)="back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        Back
      </app-button>
      <div class="flex gap-2">
        <app-button variant="tonal">Connect</app-button>
        <app-button variant="secondary">Chat</app-button>
      </div>
    </div>
  </section>
} @placeholder {
  <app-user-details-skeleton />
}
