<div>
  <label
    class="simple-form-label"
    [class.required]="required()"
    for="{{ id() }}">{{ label() }}
  </label>
  <input
    id="{{ id() }}"
    [class.is-invalid]="control.touched && control.invalid"
    [type]="type()"
    class="simple-form-field form-control w-full"
    [formControl]="control"
    placeholder="{{ label() }}"
  />
  @if (control.hasError('required')) {
    <div class="invalid-feedback">Please enter a {{ label() }}</div>
  }
  @if (control.hasError('minlength')) {
    <div class="invalid-feedback">
      {{ label() }} must be at least {{ control.errors?.['minlength'].requiredLength }} characters
    </div>
  }
  @if (control.hasError('maxlength')) {
    <div class="invalid-feedback">
      {{ label() }} must be not longer than {{ control.errors?.['maxlength'].requiredLength }} characters
    </div>
  }
  @if (control.hasError('phone')) {
    <div class="invalid-feedback">
      {{ label() }} must be a valid Norwegian phone number
    </div>
  }
</div>
